<!DOCTYPE html>
<html>
    <head>

        <title> User Dashboard </title>

              <script src="https://use.fontawesome.com/d8c8729e60.js"></script>

        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/materialize.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/palette.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/font-awesome.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/dashboardstyle.css')}}">
    </head>

    <body>
        <div class="page-preloader">

        </div>

        <div class="page-wrapper">

            <!-- Navigation Bar -->

              <div class="navbar-fixed">
    <nav class="dark-primary-color">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo garamond"><strong>proHub</strong></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
       <li><a href="#">Features</a></li>
        <li style="float:right;"><a href="#"><img src="{{ url_for('static' , filename='images/userimage.png')}}" class="responsive-img circle" id="userImage" /><span>Howdy {{ User!! }}</span></a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
       <li><a href="#"><img src="userimage.png" class="responsive-img circle" id="userImage" /><span>Howdy {{ User!! }}</span></a></li>
       <li><a href="#">Features</a></li>
      </ul>
    </div>
  </nav>
</div>




            <div class="left-sidebar dark-primary-color fixed">
            </div>

            <div class="content-main">

                <div class="row">
                    <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                            <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>

                        </div><p>project 1</p>
                    </div>

                   <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                    <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                   <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                   <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                    <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                   <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                    <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                    <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                    <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                   <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                    <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>
<div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                            <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>

                        </div><p>project 1</p>
                    </div>

                   <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                    <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                   <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                   <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                    <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                   <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                    <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                    <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                    <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                   <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>

                    <div class="col l2 m4 s6 offset-m1 center-align">
                        <div class="single-project-listing center-align">
                             <a href="#"><i class="fa fa-folder" aria-hidden="true" id="projFolder"></i></a>
                        </div>
                        <p>project 1</p>
                    </div>



                </div>



                </div>

            </div>

        </div>


        <script rel="script" type="text/javascript" src="../static_files/js/jquery-3.1.0.min.js" ></script>
        <script rel="script" type="text/javascript" src="../static_files/js/materialize.min.js"></script>
        <script rel="script" type="text/javascript" src="../static_files/js/script.js"></script>



    </body>
</html>
